.bannerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  background-image: linear-gradient(#691b0f96, rgba(0, 0, 0, 0.87)),
    url("/assets/images/banner3.jpg");
  background-color: #fd614a;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerContainer h2 {
}
