/* .banner {
  height: 550px;

  background: linear-gradient(119deg, #752348 -2.11%, rgb(40, 16, 95) 63.58%);
  background-size: cover;
  background-position: center;
} */

/* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), */
/* url("../../../assets/images/banner/momento.png"); */
/*  */
.bannerContainer {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  background-image: linear-gradient(
      rgba(119, 1, 93, 0.767),
      rgba(48, 21, 99, 0.781)
    ),
    url("/assets/images/banner.jpg");
  background-color: rgb(191, 16, 235);
}
